.resource-list {
    display: inline;
    font-size: 20px;
}

.lumber {
    color: green;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.brick {
    color: brown;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.wool {
    color: linen;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.wheat {
    color: gold;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.ore {
    color: grey;
    text-shadow: black 0.1em 0.1em 0.1em;
}