.player-name {
    color: white;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.players {
    width: 150px;
}

.trade-resources {
    display: inline;
    text-align: right;
}

.trade-amounts {
    display: inline;
    margin-left: 10px;
}

.player-info {
    margin-bottom: 51px;
}

.tile-text {
    font-family: courier, monospace;
    font-size: 16px;
}