<div class="alert alert-danger" data-ng-show="errorMessage">
    <button type="button" class="close" data-ng-click="clearError()">&times;</button>
    <span data-ng-bind="errorMessage"></span>
</div>

<div class="pull-left">
    <div class="panel panel-default players">
        <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
        </div>
        <div class="panel-body" data-ng-repeat="player in players">
            <div class="player-name" data-ng-style="{ 'background-color': player.color }">
                <span data-ng-show="player == currentPlayer">*</span>
                <span data-ng-bind="player.name"></span>
                <span class="label pull-right" data-ng-bind="player.numResources()"
                      data-ng-show="!isStartingPlacement()"></span>
                <span class="label pull-right" data-ng-bind="player.points"
                      data-ng-show="!isStartingPlacement()"></span>
            </div>
        </div>
    </div>
</div>

<svg data-ng-attr-height="{{ graph.height }}" data-ng-attr-width="{{ graph.width }}">
    <polygon data-ng-repeat="tile in tilesFlat"
             data-ng-click="moveRobber(tile)"
             data-ng-attr-points="{{ tile.points }}"
             data-ng-attr-style="{{ tile.style }}"
             data-ng-attr-fill="{{ tile.fill }}">
    </polygon>
    <circle data-ng-repeat="tile in tilesFlat"
            data-ng-show="tile.hasRobber"
            data-ng-attr-cx="{{ tile.x }}"
            data-ng-attr-cy="{{ tile.y }}"
            r="12"
            fill="black"
            stroke="black"
            stroke-width="1">
    </circle>
    <text data-ng-repeat="tile in tilesFlat"
          data-ng-attr-x="{{ tile.x }}"
          data-ng-attr-y="{{ tile.y }}"
          class="tile-text"
          text-anchor="middle">
        {{ tile.roll == 7 ? '' : tile.roll }}
    </text>
    <polygon data-ng-repeat="tile in oceanTiles"
             data-ng-attr-points="{{ tile.points }}"
             data-ng-attr-stroke="{{ tile.stroke }}"
             data-ng-attr-stroke-width="{{ tile.strokeWidth }}"
             data-ng-attr-fill="{{ tile.fill }}">
    </polygon>
    <line data-ng-repeat="path in paths"
          data-ng-click="buildRoad(path)"
          data-ng-show="showPaths || path.hasRoad"
          data-ng-attr-x1="{{ path.plotA.cx }}"
          data-ng-attr-y1="{{ path.plotA.cy }}"
          data-ng-attr-x2="{{ path.plotB.cx }}"
          data-ng-attr-y2="{{ path.plotB.cy }}"
          data-ng-attr-stroke="{{ path.fill }}"
          stroke-width="8">
    </line>
    <circle data-ng-repeat="plot in plots"
            data-ng-click="build(plot)"
            data-ng-show="showPlots || plot.hasSettlement"
            data-ng-attr-cx="{{ plot.cx }}"
            data-ng-attr-cy="{{ plot.cy }}"
            data-ng-attr-r="{{ plot.r }}"
            data-ng-attr-fill="{{ plot.fill }}"
            data-ng-attr-stroke="{{ plot.stroke }}"
            data-ng-attr-stroke-width="{{ plot.strokeWidth }}">
    </circle>
</svg>

<nav class="navbar navbar-default navbar-fixed-bottom player-info">
    <span class="navbar-text" data-ng-bind="currentPlayer.name"></span>
    <div class="navbar-text" data-resources data-resource-counts="currentPlayer.resources"
         data-ng-show="!isStartingPlacement()"></div>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav navbar-nav" data-ng-hide="isStartingPlacement()">
        <li data-ng-class="{ disabled: rolled }"><a href data-ng-click="rollDice()">
            <span class="glyphicon glyphicon-th"></span> Roll</a>
        </li>
        <li class="dropdown" data-ng-show="!building"
            data-ng-class="{ disabled: !currentPlayer.canAffordAnything() || !rolled || robberMustMove }">
            <a href class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-home"></span> Build</a>
            <ul class="dropdown-menu">
                <li class="disabled"><a href>Development Card</a></li>
                <li data-ng-class="{ disabled: !currentPlayer.canAffordCity() }">
                    <a href data-ng-click="startBuildingCity()">City</a>
                </li>
                <li data-ng-class="{ disabled: !currentPlayer.canAffordSettlement() }">
                    <a href data-ng-click="startBuildingSettlement()">Settlement</a>
                </li>
                <li data-ng-class="{ disabled: !currentPlayer.canAffordRoad() }">
                    <a href data-ng-click="startBuildingRoad()">Road</a>
                </li>
            </ul>
        </li>
        <li data-ng-show="building"><a href data-ng-click="cancelBuild()">Cancel</a></li>
        <li data-ng-click="openTrade()" data-ng-class="{ disabled: !rolled || robberMustMove }">
            <a href><span class="glyphicon glyphicon-sort"></span>Trade</a></li>
        <li data-ng-class="{ disabled: !rolled || robberMustMove }" data-ng-click="endTurn()">
            <a href>End Turn</a></li>
    </ul>

    <ul class="nav navbar-nav" data-ng-show="isStartingPlacement()">
        <li class="navbar-text">
            Starting Placement
        </li>
    </ul>

    <!-- debugging menu -->
    <ul class="nav navbar-nav" data-ng-show="false">
        <li><a href data-ng-click="showPlots = !showPlots">
            <span data-ng-show="!showPlots">Show Plots</span>
            <span data-ng-show="showPlots">Hide Plots</span>
        </a></li>
        <li><a href data-ng-click="showPaths = !showPaths">
            <span data-ng-show="!showPaths">Show Paths</span>
            <span data-ng-show="showPaths">Hide Paths</span>
        </a></li>
    </ul>
</nav>