<div>
    <div class="modal-header">
        <h3>Trade Resources</h3>
    </div>

    <div class="modal-body">

        <div class="panel panel-default">
            <div class="panel-body resources">
                <div data-resources data-resource-counts="bankResources"
                     data-select-resource="demandResource(resource)"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You Want</h3>
            </div>

            <div class="panel-body resources">
                <div data-resources data-resource-counts="demand"
                     data-select-resource="cancelDemandResource(resource)"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You Offer</h3>
            </div>

            <div class="panel-body resources">
                <div data-resources data-resource-counts="offer"
                     data-select-resource="cancelOfferResource(resource)"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body resources">
                <div data-resources data-resource-counts="player.resources"
                     data-select-resource="offerResource(resource)"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="makeOffer()" disabled>Offer</button>
        <button class="btn btn-success" data-ng-click="bank()" data-ng-disabled="!isValidForBank()">Bank</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>
</div>